<form>
    <p>
        <agm-map [latitude]="latitude" [longitude]="longitude" (mapClick)="onChoseLocation($event)">
            <agm-marker
                    [latitude]="latitude"
                    [longitude]="longitude"
                    *ngIf="locationChosen"></agm-marker>
        </agm-map>
    </p>
</form>
