<body class="account-settings" xmlns:height="http://www.w3.org/1999/xhtml">
<div class="wrapper">
    <div class="section-shaped my-0 skew-separator skew-mini">
        <div class="page-header page-header-xs" data-parallax="true"
             style="background-image: url('./assets/img/fabio-mangione.jpg');">
            <div class="filter"></div>
            <div class="container">
                <div class="header-body text-center mb-7">
                </div>
            </div>
        </div>
    </div>
    <!--deleteCity-->
    <ng-template #delTrip let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="del-city">Аre you sure you want to remove the trip?</h4>
        </div>
        <div class="modal-body">
            <form>
                <table border="0" width="400" align="center">
                    <tr>
                        <td>
                            <button type="button" class="btn btn-danger btn-block" (click)="onDelete(modal)">Yes
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger btn-block"
                                    (click)="modal.dismiss('Cross click')">No
                            </button>
                        </td>
                    <tr>
                </table>
            </form>
        </div>
    </ng-template>
    <div class="background" id="#mainImg">
        <div class="container bg-white card-user-profile mb-0">
            <div class="row">
                <div class="zatemnenie" id="zatemnenie">
                    <div class="okno">
                        <span><p>Сменить фото</p></span>
                        <span><input type="file"></span>
                        <span><a href="#mainImg" class="close">Отмена</a></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="section">

                        <!-- User Information -->
                        <section class="text-center">
                            <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                <div class="fileinput-new thumbnail img-no-padding">
                                    <img [src]='url' alt="...">
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail img-circle img-raised"
                                     style="">
                                </div>
                                <div>
                                    <span class="btn btn-outline-default btn-round btn-file">
                                        <span class="fileinput-new">Select image</span>
                                        <span class="fileinput-exists" *ngIf="change">Change</span>
                                        <input type="file" ng2FileSelect [uploader]="uploader" multiple/>
                                    </span>
                                </div>
                            </div>
                            <h3 class="title mt-4">{{ general.nickname }}</h3>
                        </section>
                        <!-- User Information -->
                        <!-- Profile Sidebar -->
                        <section class="pad">
                            <hr/>
                            <ul class="nav flex-column" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab"
                                       href="/#/user-information?id={{this.id}}" role="tablist">
                                        <i class="tim-icons icon-single-02"></i>
                                        General
                                    </a>
                                </li>
                            </ul>
                            <hr/>
                            <ul class="nav flex-column" *ngIf="this.id === this.storage.getItem('id')" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab"
                                       href="/#/profile" role="tablist">
                                        <i class="tim-icons icon-single-02"></i>
                                        Add place
                                    </a>
                                </li>
                            </ul>
                            <hr *ngIf="this.id === this.storage.getItem('id')"/>
                            <ul class="nav flex-column" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="/#/created-routes?id={{this.id}}"
                                       role="tablist">
                                        <i class="tim-icons icon-credit-card"></i>
                                        Created Routes
                                    </a>
                                </li>
                            </ul>
                            <hr/>
                            <ul class="nav flex-column" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="/#/subscriptions?id={{this.id}}"
                                       role="tablist">
                                        <i class="tim-icons icon-lock-circle"></i>
                                        Subscriptions
                                    </a>
                                </li>
                            </ul>
                            <hr/>

                            <ul class="nav flex-column" role="tablist">
                                <li class="nav-item color-text-new" *ngIf="this.id!=this.storage.getItem('id')">
                                    <a class="nav-link" data-toggle="tab" (click)="helloMessage()"
                                       role="tablist">
                                        <i class="tim-icons icon-lock-circle"></i>
                                        Say Hello
                                    </a>
                                </li>
                            </ul>
                            <hr *ngIf="this.id!=this.storage.getItem('id')"/>
                            <ul class="nav flex-column color-text-new" id="subscribe" role="tablist">
                                <li class="nav-item" *ngIf="!isSubOn && this.id!=this.storage.getItem('id')">
                                    <a class="nav-link" href="#subscribe" data-toggle="tab" (click)="subscribeOn()"
                                       role="tablist">
                                        <i class="tim-icons icon-lock-circle"></i>
                                        Subscribe
                                    </a>
                                </li>
                                <li class="nav-item" *ngIf="isSubOn && this.id!=this.storage.getItem('id')">
                                    <a class="nav-link" href="#subscribe" data-toggle="tab" (click)="unsubscribeFrom()"
                                       role="tablist">
                                        <i class="tim-icons icon-lock-circle"></i>
                                        Unsubscribe
                                    </a>
                                </li>
                            </ul>
                            <hr *ngIf="isAdmin && this.id!=this.storage.getItem('id')"/>
                            <ul class="nav flex-column align-content-center" role="tablist">
                                <li class="nav-item"
                                    *ngIf="this.id!=this.storage.getItem('id') && isAdmin && !currentUserModer">
                                    <button class="nav-link" data-toggle="tab" (click)="changeRole('moderator')"
                                            role="tablist">
                                        <i class="tim-icons icon-lock-circle"></i>
                                        Make Moderator
                                    </button>
                                </li>
                                <li class="nav-item"
                                    *ngIf="this.id!=this.storage.getItem('id') && isAdmin && currentUserModer">
                                    <button class="nav-link" data-toggle="tab" (click)="changeRole('user')"
                                            role="tablist">
                                        <i class="tim-icons icon-lock-circle"></i>
                                        Make User
                                    </button>
                                </li>
                            </ul>
                            <hr *ngIf="isAdmin && this.id!=this.storage.getItem('id')"/>
                            <ul class="nav flex-column align-content-center" role="tablist">
                                <li class="nav-item"
                                    *ngIf="this.id!=this.storage.getItem('id') && isAdmin && !isBanned">
                                    <button class="nav-link" data-toggle="tab" (click)="ban()" role="tablist">
                                        <i class="tim-icons icon-lock-circle"></i>
                                        Ban User
                                    </button>
                                </li>
                                <li class="nav-item" *ngIf="this.id!=this.storage.getItem('id') && isAdmin && isBanned">
                                    <button class="nav-link" data-toggle="tab" (click)="unban()" role="tablist">
                                        <i class="tim-icons icon-lock-circle"></i>
                                        Unban User
                                    </button>
                                </li>
                            </ul>
                        </section>


                        <!-- End Profile Sidebar -->
                        <!-- Profile Completion -->
                        <br><br><br>
                    </div>
                </div>
                <div class="lenta">
                    <div class="tabs">
                        <input id="tab1" type="radio" name="tabs" checked>
                        <label class="inAllRow" for="tab1" *ngIf="this.id==this.storage.getItem('id')"
                               title="Your news">Your news</label>
                        <label class="inAllRow" for="tab1" *ngIf="this.id!=this.storage.getItem('id')"
                               title="Their news">Their news</label>

                        <input id="tab2" type="radio" name="tabs">
                        <label class="inAllRow" for="tab2" *ngIf="this.id==this.storage.getItem('id')"
                               title="Your sub's news">Your sub's news</label>
                        <label class="inAllRow" for="tab2" *ngIf="this.id!=this.storage.getItem('id')"
                               title="Their sub's news">Their sub's news</label>

                        <input id="tab3" type="radio" name="tabs">
                        <label class="inAllRow" for="tab3" title="All news">All news</label>

                        <section id="content-tab1">
                            <div class="form-check" *ngFor="let item of allLentaUser">
                                <div *ngIf="(item.status===true)||(checkID())">
                                    <label class="form-check-label table-show-trip">
                                    <div align="center">
                                        <table style="  text-align: center;
                                                          border-collapse: collapse;
                                                          background-color: rgb(226, 226, 226);
                                                          border-radius: 10% 0px 0px 0px;
                                                          border: 1px;
                                                          width: 29vh;
                                                          height: 10vh;
                                                          border-style: hidden;width: 140%">
                                            <tr>
                                                <td><div class="button-show" align="right">
                                                    <button class="button-without-back btn-sm nav-link" (click)="nullClick()"><font size="3"></font></button>
                                                </div></td>
                                                <td colspan="4">
                                                    <div *ngIf="item.nameTrip!=null" align="center"><h5>{{item.nameTrip}}</h5></div>
                                                    <div *ngIf="item.nameTrip==null" align="center"><h5>No name</h5></div>
                                                </td>
                                                <td>
                                                    <div class="button-show" align="right">
                                                        <div *ngIf="(checkID())">
                                                            <button class="button-without-back" (click)="openMassegeForDelCity(delTrip, item.id)"><font size="3"><b>x</b></font></button>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="6">

                                                    <div class="card page-carousel" *ngIf="item.monuments !== null">
                                                        <ngb-carousel>
                                                            <ng-template ngbSlide *ngFor="let photo of item.monuments">
                                                                <img [src]=photo.photoMonuments>
                                                                <div style="height: 50px">
                                                                    <span class="nadpis">{{photo.nameMonuments}}</span>
                                                                </div>
                                                            </ng-template>
                                                        </ngb-carousel>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" align=center>
                                                    <div class="button-show">
                                                        <button #rout style="width: 100px; height: 40px" type="button" class="btn btn-danger btn-block btn-sm nav-link" name="ButtonShow"
                                                                [value]="item.id" [routerLink]="['/show-way', item.id]" (click)="showTrip(item.id)">
                                                            <p align="center">show</p>
                                                        </button>
                                                    </div>
                                                </td>
                                                <td colspan="2" align=center>
                                                    <div *ngIf="(checkID())">
                                                        <div class="button-show">
                                                            <button style="width: 100px; height: 40px" type="button" class="btn btn-danger btn-block" name="ButtonRead">
                                                                <p align="center">change</p>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td colspan="2" align=center>
                                                    <div *ngIf="item.status===true"><p align="center">
                                                        <button style="width: 100px; height: 40px" type="button" class="btn btn-danger btn-block" name="ButtonPrivate" (click)="chooseStatus(item.id, item.status)">
                                                            public
                                                        </button></p>
                                                    </div>
                                                    <div *ngIf="item.status!=true"><p align="center">
                                                        <button style="width: 100px; height: 40px" type="button" class="btn btn-danger btn-block" name="ButtonPrivate" (click)="chooseStatus(item.id, item.status)"> private
                                                        </button></p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <hr style="width: 140%">
                                </label>
                                </div>
                            </div>
                        </section>
                        <section id="content-tab2">
                            <div class="form-check" *ngFor="let item of subsRoutes">
                                <label class="form-check-label">
                                    <button type="button" class="block-new" name="nBut">
                                        {{item.listMonumentEntities[0].monument.nameMonument}}
                                    </button>
                                </label>
                            </div>
                        </section>
                        <section id="content-tab3">
                            <p>
                                Empty at least
                            </p>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
