.nav-item-in-route li {
  display: inline;
}

.nav-map {
  margin: 30px;
}
.button-CRUD{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.button-show{
}

.table-show-trip {
  align: center;
  border:3px;
  border-radius: 20px 0px 0px 0;
 }

.text-filter {
  font-size: 1em;
}

td {
  padding: 1.5vh;
  border: 0px solid black;
}
.nadpis {
  margin: 10px;
}
div .cont {
  display: inline-block;
  vertical-align: top;
}
.button-without-back {
  outline: none; /* Для синий ободки */
  border: 0;
  background: transparent;
}
.cities-in-line {
  display: inline-block;
}

.color-text {
  color: #000000;
}

.color-text-new {
  color: #f5593d;
}
.card-up {
  background-color: #ffffff;
  border-radius: 8px;
  color: #fff;
  width: 100%;
  height: 50px;
  max-height: 1000px;
  padding: 10px;
  z-index: 1;
}

.up ul {
  text-align: center;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.butset {
  width: 100%;
}

.photo-input {
  visibility: visible;
  opacity: 50;
  position: relative;
  z-index: 10;
}


.zatemnenie {
  background: rgba(102, 102, 102, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.okno {
  width: 300px;
  height: 150px;
  text-align: center;
  padding: 15px;
  border: 3px solid #0000cc;
  border-radius: 10px;
  color: #0000cc;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #fff;
}

.lenta {
  margin: 2em 2em 2em auto;
  width: 700px;
  border-radius: 7px;
  border-color: #0b1011;
  background-color: #FFFFFF;
}

.zatemnenie:target {
  display: block;
}

.close {
  display: inline-block;
  border: 1px solid #0000cc;
  color: #0000cc;
  padding: 0 12px;
  margin: 10px;
  text-decoration: none;
  background: #f2f2f2;
  font-size: 14pt;
  cursor: pointer;
}


.btn {
  width: 130px;
  height: 37px;
}

.background {
  color: #FFFFFF;
}

.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #ffffff;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.selectclass select {
  width: 100%;
  height: 30px;
}

.selectclass {
  padding: 10px 0px;
}

agm-map {
  height: 400px;
  width: 780px;
}


/* Базовый контейнер табов */
.tabs {
  min-width: 320px;
  max-width: 800px;
  padding: 0px;
  margin: 0 auto;
}

.inAllRow {
  width: 33.333%;
}

/* Стили секций с содержанием */
.tabs > section {
  display: none;
  padding: 15px;
  background-color: #ffffff;
  border: 1px solid #ddd;
}

.tabs > section > p {
  margin: 0 0 5px;
  line-height: 1.5;
  color: #383838;
  /* прикрутим анимацию */
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/* Описываем анимацию свойства opacity */

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Прячем чекбоксы */
.tabs > input {
  display: none;
  position: absolute;
}

/* Стили переключателей вкладок (табов) */
.tabs > label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #aaa;
  border: 0px solid #ddd;
  border-width: 1px 1px 1px 1px;
  background: #f1f1f1;
  border-radius: 3px 3px 0 0;
}

/* Шрифт-иконки от Font Awesome в формате Unicode */
.tabs > label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

.tabs > label[for*="1"]:before {
  content: "\f1ea";
}

.tabs > label[for*="2"]:before {
  content: "\f1ea";
}

.tabs > label[for*="3"]:before {
  content: "\f1ea";
}

.tabs > label[for*="4"]:before {
  content: "\f13c";
}

/* Изменения стиля переключателей вкладок при наведении */

.tabs > label:hover {
  color: #888;
  cursor: pointer;
}

/* Стили для активной вкладки */
.tabs > input:checked + label {
  color: #555;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #fff;
  background-color: #F1EAE0;
}

/* Активация секций с помощью псевдокласса :checked */
#tab1:checked ~ #content-tab1, #tab2:checked ~ #content-tab2, #tab3:checked ~ #content-tab3, #tab4:checked ~ #content-tab4 {
  display: block;
}

/* Убираем текст с переключателей
* и оставляем иконки на малых экранах
*/

@media screen and (max-width: 680px) {
  .tabs > label {
    font-size: 0;
  }
  .tabs > label:before {
    margin: 0;
    font-size: 18px;
  }
}

/* Изменяем внутренние отступы
*  переключателей для малых экранов
*/
@media screen and (max-width: 400px) {
  .tabs > label {
    padding: 15px;
  }
}
.btn-outline-default {
  border-color: #66615b;
  color: #66615b;
  opacity: 1;
}
.btn {
  display: inline-block;
}
.fileinput .btn {
  vertical-align: middle;
}
.btn-round {
  border-radius: 30px;
}
.btn-round {
  border-radius: 30px;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.fileinput-exists .fileinput-new, .fileinput-new .fileinput-exists {
  display: none;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn-file > input {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 23px;
  cursor: pointer;
  opacity: 0;
  direction: ltr;
}
.brand, .h1, .h2, .h3, .h4, .h5, .h6, .navbar, .td-name, a, button, h1, h2, h3, h4, h5, h6, input, p, select, td, textarea {
  -webkit-font-smoothing: antialiased;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: 300;
}

button, input {
  overflow: visible;
}

button, input, optgroup, select, textarea {
  line-height: inherit;
}
.fileinput-exists .fileinput-new, .fileinput-new .fileinput-exists {
  display: none;
}
.bootstrap-tagsinput input, .bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}
.bootstrap-tagsinput input {
  outline: none;
  background-color: transparent;
  padding: 0 6px;
  margin: 0;
  width: auto;
  max-width: inherit;
}
.fileinput .thumbnail {
  margin-bottom: 10px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}
.thumbnail {
  border: 0 none;
}
.text-center {
  text-align: center !important;
}
.span-set{
  outline: none;
}

.fileinput .thumbnail {
  display: inline-block;
  margin-bottom: 10px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
}

.img-no-padding {
  padding: 0;
}

.thumbnail {
  border: 0 none;
}

.fileinput-exists .fileinput-new, .fileinput-new .fileinput-exists {
  display: none;
}

.fileinput .thumbnail {
  margin-bottom: 10px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
}

.img-no-padding {
  padding: 0;
}

.thumbnail {
  border: 0 none;
}

body {
  color: #66615b;
  font-size: 14px;
  font-weight: 300;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}

.fileinput .thumbnail > img {
  max-height: 100%;
  width: 100%;
}

a {
  color: #f5593d;
}
img {
  vertical-align: middle;
  border-style: none;
}

.btn[class*=btn-outline-] {
  background-image: none;
  background-color: transparent;
}

.fileinput .btn {
  vertical-align: middle;
}

.btn-round {
  border-radius: 30px;
}

.btn-outline-default {
  border-color: #66615b;
  color: #66615b;
  opacity: 1;
}

.btn {
  box-sizing: border-box;
  border-width: 2px;
  font-size: 12px;
  font-weight: 600;
  padding: .5rem 18px;
  line-height: 1.75;
  cursor: pointer;
  text-transform: uppercase;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn {
  display: inline-block;
}

.fileinput-exists .fileinput-new, .fileinput-new .fileinput-exists {
  display: none;
}

.btn-file > input {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 23px;
  cursor: pointer;
  opacity: 0;
  direction: ltr;
}

.brand, .h1, .h2, .h3, .h4, .h5, .h6, .navbar, .td-name, a, button, h1, h2, h3, h4, h5, h6, input, p, select, td, textarea {
  -webkit-font-smoothing: antialiased;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: 300;
}

button, input {
  overflow: visible;
}

button, input, optgroup, select, textarea {
  line-height: inherit;
}

.btn-danger.btn-link {
  color: #f5593d;
}

.btn.btn-border, .btn.btn-link {
  background-color: transparent;
}

.fileinput-exists .fileinput-new, .fileinput-new .fileinput-exists {
  display: none;
}

.fileinput .btn {
  vertical-align: middle;
}

.btn-link {
  border-color: transparent !important;
  padding: 7px 18px;
}

.btn-danger {
  opacity: 1;
}
.pad {
  padding: 12px;
}
.block-new {
  display: block;
  width: 585px;
  height: 70px;
  border-color: #a2a2a2;
  background-color: #ffffff;
  padding: 0px 5px;
  font-size: 15px;
  cursor: pointer;
  text-align: left;
  border-radius: 6px;
}
