section {
  display: block;
}

.glide--swipeable {
  cursor: grab;
}

.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.glide__slides, .glide__track {
  overflow: hidden;
}

.glide * {
  box-sizing: inherit;
}

.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  touch-action: pan-Y;
  padding: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
}

.glide__slides, .glide__track {
  overflow: hidden;
}

.glide * {
  box-sizing: inherit;
}

dl, ol, ul {
  margin-top: 0;
}

address, dl, ol, ul {
  margin-bottom: 1rem;
}

.glide__slides .glide__slide {
  opacity: .1;
  transition: all .3s ease 0s;
}

.glide__slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  white-space: normal;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.glide__slide, .glide__slides--dragging {
  user-select: none;
}

.glide * {
  box-sizing: inherit;
}

*, :after, :before {
  box-sizing: border-box;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.glide__slides .glide__slide img {
  width: 400px;
  margin: 50px auto;
}

.glide * {
  box-sizing: inherit;
}

img, svg {
  vertical-align: middle;
}

img {
  border-style: none;
}

.margin-class {
  margin-left: 20px;
}

.text-settings {
  text-align: left;
}

h3 {
  margin-top: 0px;
  padding-top: 0px;
}

.text-settings1 {
  text-align: center;
}

.setting {
  margin-left: 20%;
  width: 60%;
}

.size-button {
  width: 30%;
}
.size-button-template {
  width: 48%;
  height: 50%;
  margin-left: 3px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.color-panel {
  background-color: #ffffff;
  border-color: #121212;
  margin-left: 90%;
}
.size-button-photo {
  width: 10%;
  margin-left: 58%;
  height: 40.8px;
  margin-top: .5rem;
  font-size: 18px;
  text-align: center;
  padding: 0.3rem 18px;
}
.vis{
  margin-left: 62%;
}
.fileinput {
  display: inline-block;
  margin-bottom: 9px;
}

.text-center {
  text-align: center !important;
}
.span-set{
  outline: none;
}

.fileinput .thumbnail {
  display: inline-block;
  margin-bottom: 10px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
}


.fileinput-exists .fileinput-new, .fileinput-new .fileinput-exists {
  display: none;
}
.fileinput .thumbnail {
  margin-bottom: 10px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
}

.img-no-padding {
  padding: 0;
  margin: 0px;
  width: inherit;
}

.thumbnail {
  border: 0 none;
}

body {
  color: #66615b;
  font-size: 14px;
  font-weight: 300;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}

.fileinput .thumbnail > img {
  max-height: 30%;
  width: 30%;
}

img {
  vertical-align: middle;
  border-style: none;
}

.btn[class*=btn-outline-] {
  background-image: none;
  background-color: #f5593d;
}

.fileinput .btn {
  vertical-align: middle;
}
.btn-round {
  border-radius: 4px;
}

.btn-outline-default {
  border-color: #f5593d;
  color: #ffffff;
  opacity: 1;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file > input {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 23px;
  cursor: pointer;
  opacity: 0;
  direction: ltr;
}
.fileinput-new {
  font-size: 15px;
}
.img-set {
  width: 20%;
  height: 20%;
}

.container {
  position: relative;
}

.ins {
  max-width: 700px;
}

.inline {
  display: inline-block;
  width: 20%;
  height: auto;
}

.a img {
  width: 50%;
  height: auto;
}
.size-img{
  width: 30%;
  height: 30%;
  position: relative;
  margin-left: 3px;
}
.size-img .btn {
  position: absolute;
  top: -140%;
  left: 95%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f5593d;
  color: white;
  font-size: 8px;
  padding: 5px ;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.img-set-out {
  width: 20%;
  height: 20%;
  margin-left: 3px;
}
.media-area .media:last-child {
  border: 0;
}
.media {
  border-bottom: 1px solid hsla(39,9%,61%,.22);
  padding-bottom: 30px;
  margin-top: 30px;
}
.pull-left {
  float: left;
}

.brand, .h1, .h2, .h3, .h4, .h5, .h6, .navbar, .td-name, a, button, h1, h2, h3, h4, h5, h6, input, p, select, td, textarea {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Montserrat,Helvetica,Arial,sans-serif;
  font-weight: 300;
}


.media .avatar {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 15px;
  border: 3px solid #fff;
}
.media .avatar img {
  width: 100%;
}
img {
  vertical-align: middle;
  border-style: none;
}
.pull-right{
  float:right;
}
.image-set {
  width: 100%;
  height: 100%;
}
.span-setting {
  left: 90%;
  top: 85%
}
.media-object{
  width: 100px;
  height: 60px;
}
