<body class="account-settings">
<div class="wrapper">
    <div class="section-shaped my-0 skew-separator skew-mini">
        <div class="page-header page-header-xs" data-parallax="true"
             style="background-image: url('./assets/img/fabio-mangione.jpg');">
            <div class="filter"></div>
            <div class="container">
                <div class="header-body text-center mb-7">
                </div>
            </div>
        </div>
    </div>
    <div class="background" id="#mainImg">
        <div class="card" *ngFor="let route of routes">{{route.listMonumentEntities[0].monument.nameMonument}}</div>
    </div>
</div>