.skew-separator {
  overflow: hidden;
}
.section-shaped {
  position: relative;
  overflow: hidden;
}
.mb-0, .my-0 {
  margin-bottom: 0!important;
}
.mt-0, .my-0 {
  margin-top: 0!important;
}
.page-header.page-header-small {
  min-height: 60vh;
  max-height: 440px;
}
.page-header.header-filter {
  position: relative;
}
.page-header {
  min-height: 100vh;
  max-height: 999px;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.page-header, header {
  position: relative;
}
.page-header, .section-hero {
  overflow: visible!important;
}

.page-header{
  position: absolute;
  background-size: cover;
  background-position: 50%;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.page-header-image {
  position: absolute;
  background-size: cover;
  background-position: 50%;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.h1, h1 {
  font-size: 2.5rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.text-center {
  text-align: center!important;
}

.chat .card {
  max-height: 70vh;
  overflow: auto;
  margin-top: 30px;
  overflow-x: hidden;
}
.card {
  margin-bottom: 30px;
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
  border: 0;
}
.card {
  position: relative;
}
.bg-secondary {
  background-color: #f4f5f7!important;
}
.card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: .0625rem solid rgba(0,0,0,.05);
  border-radius: .25rem;
}

.chat .card .card-footer, .chat .card .card-header {
  background: transparent;
  display: flex;
}
.card .card-footer, .card .card-header {
  background-color: #fff;
}
.card-header:first-child {
  border-radius: 0.1875rem 0.1875rem 0 0;
}
.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}
.card-header {
  padding: 1.25rem 1.5rem;
  margin-bottom: 0;
  background-color: #f6f9fc;
  border-bottom: .0625rem solid rgba(0,0,0,.05);
}
.input-group-alternative {
  box-shadow: 0 1px 3px rgba(50,50,93,.15), 0 1px 0 rgba(0,0,0,.02);
  border: 0;
  transition: box-shadow .15s ease;
}
.input-group, .input-group .form-control {
  box-shadow: none;
}
.input-group {
  border-radius: .25rem;
  transition: all .15s ease;
}
.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}
.input-group .form-control:not(:last-child) {
  border-right: 0;
  padding-right: 0;
}
.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group-alternative .form-control, .input-group-alternative .input-group-text {
  border: 0;
  box-shadow: none;
}
.input-group-append {
  margin-left: -1px;
}
.input-group-append, .input-group-prepend {
  display: flex;
}
.ni {
  display: inline-block;
  font: normal normal normal 14px/1 NucleoIcons;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}
.card-header+.list-group .list-group-item:first-child {
  border-top: 0;
}
.list-group-flush .list-group-item {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}
.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #5e72e4;
  border-color: #5e72e4;
}
.list-group-item:first-child {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}
.bg-gradient-primary {
  background: linear-gradient(35deg,#5e72e4,#825ee4)!important;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 1rem;
  margin-bottom: -.0625rem;
  background-color: #fff;
  border: .0625rem solid #e9ecef;
}
.chat .list-group .avatar {
  width: 40px!important;
  height: 40px!important;
}
.media .avatar {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  margin-right: 15px;
}
.avatar {
  color: #fff;
  background-color: #adb5bd;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border-radius: 50%;
  height: 48px;
  width: 48px;
}
img, svg {
  vertical-align: middle;
}
img {
  border-style: none;
}
.col-lg-8{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.chat .card {
  max-height: 70vh;
  overflow: auto;
  margin-top: 30px;
  overflow-x: hidden;
}
.card {
  margin-bottom: 30px;
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
  border: 0;
}
.card {
  position: relative;
}
.card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: .0625rem solid rgba(0,0,0,.05);
  border-radius: .25rem;
}
.col-md-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
.dropdown, .dropleft, .dropright, .dropup {
  display: inline-block;
}
.dropdown, .dropleft, .dropright, .dropup {
  position: relative;
}
.btn:not(:last-child) {
  margin-right: .5rem;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}
.btn-link {
  font-weight: 600;
  box-shadow: none;
}
.btn {
  position: relative;
  text-transform: uppercase;
  will-change: transform;
  letter-spacing: .025em;
  font-size: .875rem;
}
.text-primary {
  color: #5e72e4!important;
}
.input-group-append {
  margin-left: -1px;
}
.input-group-append, .input-group-prepend {
  display: flex;
}
.input-group>.input-group-append>.btn, .input-group>.input-group-append>.input-group-text, .input-group>.input-group-prepend:first-child>.btn:not(:first-child), .input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child), .input-group>.input-group-prepend:not(:first-child)>.btn, .input-group>.input-group-prepend:not(:first-child)>.input-group-text {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group-text {
  transition: all .15s ease;
}
.input-group-text {
  display: flex;
  align-items: center;
  padding: .625rem .75rem;
  margin-bottom: 0;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #adb5bd;
  text-align: center;
  white-space: nowrap;
  background-color: #fff;
  border: 1px solid #cad1d7;
  border-radius: .25rem;
}
.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
