<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true"
         style="background-image: url('./assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
</div>
<ng-template #result let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title-one">Information</h4>
        <button type="button" class="close span-set" aria-label="Close"
                (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <h5 class="text-center">Your entry has been sent for review</h5>
        </form>
    </div>
</ng-template>
<div class="main">
    <div class="section">
        <div class="container">
            <h3>Add Place</h3>
            <br>
            <div>
                <div class="row">
                    <div class="col-md-5 col-sm-5">
                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                            <div class="fileinput-new thumbnail img-no-padding"
                                 style="max-width: 370px; max-height: 250px;">
                                <img [src]="url" alt="...">
                            </div>
                            <div class="fileinput-preview fileinput-exists thumbnail img-no-padding"
                                 style="max-width: 370px; max-height: 250px;"></div>
                            <div>
                                <form action="" method="post" enctype="multipart/form-data">
                  <span class="btn btn-outline-default btn-round btn-file">
                    <span class="fileinput-new">Select image</span>
                    <span class="fileinput-exists" *ngIf="change">Change</span>

<!--                    <input type="file" id="file" name="file" (change)="onSelectFile($event)">-->
                          <input type="file" ng2FileSelect [uploader]="uploader" multiple/>

                  </span>
                                </form>
                                <a href="#paper-kit" class="btn btn-link btn-danger fileinput-exists"
                                   data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                            </div>
                        </div>
                        <h6>Categories</h6>
                        <div class="row1" *ngIf="selectCategories.length === 0">
                            <div class="in-row" id="tags" *ngFor="let item of statuses">
                                <div class="bootstrap-tagsinput">
                                    <div class="tag badge badge-success in-row"
                                         (click)="addCategory(item.nameStatus)">{{item.nameStatus}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row1" *ngIf="selectCategories.length !== 0">
                            <div class="in-row" id="tags1" *ngFor="let item of statuses">
                                <div class="bootstrap-tagsinput disabled-class">
                                    <div class="tag badge badge-success-disable in-row"
                                         (click)="addCategory(item.nameStatus)">{{item.nameStatus}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <form [formGroup]="registerForm">
                            <div class="form-group">
                                <h6>Name
                                    <span class="icon-danger">*</span>
                                </h6>
                                <input type="text" class="form-control border-input" formControlName="name" #name
                                       [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                                       placeholder="Enter the place name here...">
                                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                    <div *ngIf="f.name.errors.required">Name wasn't empty</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <h6>Country</h6>
                                <input type="text" class="form-control border-input" #country
                                       placeholder="Enter country here...">
                            </div>
                            <div class="form-group">
                                <h6>City</h6>
                                <input type="text" class="form-control border-input" #city
                                       placeholder="Enter city here...">
                            </div>
                            <div class="form-group" *ngIf="showCategories===true">
                                <h6>Select categories</h6>
                                <div class="row1">
                                    <div *ngFor="let item of selectCategories">
                                        <div class="bootstrap-tagsinput">
                                            <div class="tag badge badge-success in-row"
                                                 (click)="deleteCategory(item)">{{item}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="nav-map">
                                <form>
                                    <p>
                                        <agm-map #gm [latitude]="latitude" [longitude]="longitude" [zoom]="13"
                                                 (mapClick)="onChoseLocation($event)">
                                            <agm-marker [latitude]="latitude" [longitude]="longitude">
                                            </agm-marker>
                                        </agm-map>
                                    </p>
                                </form>
                            </div>
                            <br>
                            <div class="form-group">
                                <h6>Description</h6>
                                <textarea class="form-control border-input" placeholder="Your description..." rows="3"
                                          #description
                                          style="margin-top: 0px; margin-bottom: 0px; height: 150px;"></textarea>
                            </div>
                            <br>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value=""> Display on landing page
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row buttons-row">
                    <div class="col-md-4 col-sm-4">
                        <button class="btn btn-outline-danger btn-block btn-round" type="reset">Cancel</button>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group">
                            <button class="btn btn-outline-primary btn-block btn-round" type="submit"
                                    (click)="onSubmit(result, name.value, description.value, city.value, country.value)">
                                Save
                            </button>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <button class="btn btn-primary btn-block btn-round" type="submit">Save &amp; Publish</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
