.fileinput {
  display: inline-block;
  margin-bottom: 9px;
}

.text-center {
  text-align: center !important;
}
.span-set{
  outline: none;
}
.disabled-class{
  pointer-events: none;
  color: #0000cc;
}
.fileinput .thumbnail {
  display: inline-block;
  margin-bottom: 10px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
}

.img-no-padding {
  padding: 0;
}

.thumbnail {
  border: 0 none;
}

.fileinput-exists .fileinput-new, .fileinput-new .fileinput-exists {
  display: none;
}

.fileinput .thumbnail {
  margin-bottom: 10px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
}

.img-no-padding {
  padding: 0;
}

.thumbnail {
  border: 0 none;
}

body {
  color: #66615b;
  font-size: 14px;
  font-weight: 300;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}

.fileinput .thumbnail > img {
  max-height: 100%;
  width: 100%;
}

img {
  vertical-align: middle;
  border-style: none;
}

.btn[class*=btn-outline-] {
  background-image: none;
  background-color: transparent;
}

.fileinput .btn {
  vertical-align: middle;
}

.btn-round {
  border-radius: 30px;
}

.btn-outline-default {
  border-color: #66615b;
  color: #66615b;
  opacity: 1;
}

.btn {
  box-sizing: border-box;
  border-width: 2px;
  font-size: 12px;
  font-weight: 600;
  padding: .5rem 18px;
  line-height: 1.75;
  cursor: pointer;
  text-transform: uppercase;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn {
  display: inline-block;
}

.fileinput-exists .fileinput-new, .fileinput-new .fileinput-exists {
  display: none;
}

.btn-file > input {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 23px;
  cursor: pointer;
  opacity: 0;
  direction: ltr;
}

.brand, .h1, .h2, .h3, .h4, .h5, .h6, .navbar, .td-name, a, button, h1, h2, h3, h4, h5, h6, input, p, select, td, textarea {
  -webkit-font-smoothing: antialiased;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: 300;
}

button, input {
  overflow: visible;
}

button, input, optgroup, select, textarea {
  line-height: inherit;
}

.btn-danger.btn-link {
  color: #f5593d;
}

.btn.btn-border, .btn.btn-link {
  background-color: transparent;
}

.fileinput-exists .fileinput-new, .fileinput-new .fileinput-exists {
  display: none;
}

.fileinput .btn {
  vertical-align: middle;
}

.btn-link {
  border-color: transparent !important;
  padding: 7px 18px;
}

.btn-danger {
  opacity: 1;
}

.btn {
  box-sizing: border-box;
  border-width: 2px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.75;
  cursor: pointer;
  text-transform: uppercase;
  opacity: 1;
  transition: all .15s linear;
}

.btn-link {
  text-decoration: none;
}

.fa {
  width: 18px;
  text-align: center;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bootstrap-tagsinput {
  background-color: transparent;
  display: inline-block;
  padding: 1px 3px;
  color: #ffffff;
  vertical-align: middle;
  border-radius: 4px;
  width: 100%;
  line-height: 22px;
  cursor: text;
}

.bootstrap-tagsinput .badge {
  transition: all .17s linear;
  cursor: pointer;
  margin: 5px 3px 5px 0;
  position: relative;
  padding: 4px 8px 3px .8em;
  border-radius: 12px;
  color: #fff;
  font-size: .75em;
  font-weight: 500;
  display: inline-block;
  line-height: 1.5em;
  text-transform: uppercase;
}

.badge-success {
  background-color: #f5593d;
}
.badge-success-disable {
  background-color: #b2b2b2;
}

.bootstrap-tagsinput .badge [data-role=remove] {
  cursor: pointer;
  position: absolute;
  top: 3.5px;
  right: 0;
  opacity: 0;
}

.bootstrap-tagsinput .badge [data-role=remove]:after {
  content: "\f00d";
  padding: 0 4px;
  font-size: 18px;
  font: normal normal normal 10px/1 FontAwesome;
}

.bootstrap-tagsinput input, .bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}

.bootstrap-tagsinput input {
  outline: none;
  background-color: transparent;
  padding: 0 6px;
  margin: 0;
  width: auto;
  max-width: inherit;
}

.brand, .h1, .h2, .h3, .h4, .h5, .h6, .navbar, .td-name, a, button, h1, h2, h3, h4, h5, h6, input, p, select, td, textarea {
  -webkit-font-smoothing: antialiased;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: 300;
}

button, input {
  overflow: visible;
}

button, input, optgroup, select, textarea {
  font-size: inherit;
  line-height: inherit;
}

.add-product .buttons-row {
  margin: 60px 0 20px;
}

@media (min-width: 768px) {
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

@media (min-width: 576px) {
  .col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.add-product .buttons-row .btn {
  margin-bottom: 15px;
}

.btn[class*=btn-outline-] {
  background-image: none;
  background-color: transparent;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}

.btn-round {
  border-radius: 30px;
}

.btn-outline-danger {
  border-color: #f5593d;
  color: #f5593d;
  opacity: 1;
}

.btn {
  box-sizing: border-box;
  border-width: 2px;
  font-size: 12px;
  font-weight: 600;
  padding: .5rem 18px;
  line-height: 1.75;
  text-transform: uppercase;
  transition: all .15s linear;
}

.btn-block {
  display: block;
  width: 100%;
}

textarea.form-control {
  padding: 10px 18px;
  height: auto;
}

.form-control, .form-control:focus {
  background-color: #fff;
  box-shadow: none;
}

.form-control {
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #66615b;
  font-size: 14px;
  transition: background-color .3s ease 0s;
  padding-right: 0 !important;
}

.nav-map {
  position: center;
  z-index: 1;
}

agm-map {
  position: center;
  width: 635px;
  height: 500px;
}

.in-row {
  display: inline-block;
}

.row1 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 70px;
  margin-left: 0px
}

