.card.card:not(.card-plain) .card-image .img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.card.card-blog .card-image .img, .card.card-testimonial .card-description+.card-title .card-image .img {
  border-radius: 12px;
}
.card img {
  max-width: 100%;
  height: 600px;
  border-radius: 12px 12px 0 0;
}
img {
  vertical-align: middle;
  border-style: none;
}
.card .author {
  display: inline-block;
}
*, ::after, ::before {
  box-sizing: border-box;
}
.card .card-body .card-footer {
  padding: 0;
}
.card .card-footer {
  padding: 15px;
  background: transparent;
  border-top: 0 none;
}
.card-footer:last-child {
  border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}
.card-footer {
  padding: .75rem 1.25rem;
  background-color: rgba(0,0,0,.03);
  border-top: 1px solid rgba(0,0,0,.125);
}

.card .author .avatar {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 5px;
}
.card .stats {
  display: inline-block;
  float: right;
  color: #9a9a9a;
  font-size: 12px;
  margin-top: 6px;
}
.card img {
  max-width: 100%;
  height: auto;
  border-radius: 12px 12px 0 0;
}
img {
  vertical-align: middle;
  border-style: none;
}
.card .stats i {
  font-size: 16px;
  position: relative;
  text-align: center;
  top: 1px;
  margin-left: 10px;
  margin-top: -1px;
  opacity: .6;
}
.card.card-blog {
  margin-top: 5px;
}
.card.card-blog, .card.card-testimonial .card-description+.card-title {
  margin-top: 30px;
}

.card {
  border-radius: 12px;
  box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
  background-color: #fff;
  color: #333;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  border: 0 none;
  transition: transform .3s cubic-bezier(.34,2,.6,1),box-shadow .2s ease;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}
.card .card-body {
  padding: 20px;
}
.text-center {
  text-align: center!important;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
.card[data-color=purple] {
  background: #cc90cc;
}
.card[data-background=color] .card-body, .card[data-background=color] .card-category, .card[data-background=color] .card-footer, .card[data-background=color] .card-text, .card[data-background=color] .card-title, .card[data-background=color] .stats, .card[data-background=color] [class*=text-], .card[data-background=color] a:not(.btn), .card[data-background=color] small, .card[data-background=color] ul li b, .card[data-background=image] .card-body, .card[data-background=image] .card-category, .card[data-background=image] .card-footer, .card[data-background=image] .card-text, .card[data-background=image] .card-title, .card[data-background=image] .stats, .card[data-background=image] [class*=text-], .card[data-background=image] a:not(.btn), .card[data-background=image] small, .card[data-background=image] ul li b, .card[data-color] .card-body, .card[data-color] .card-category, .card[data-color] .card-footer, .card[data-color] .card-text, .card[data-color] .card-title, .card[data-color] .stats, .card[data-color] [class*=text-], .card[data-color] a:not(.btn), .card[data-color] small, .card[data-color] ul li b {
  color: #fff!important;
}
.card .card-body {
  padding: 20px;
}
.text-center {
  text-align: center!important;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
.card[data-color=orange] {
  background: #f7765f;
}
.card .clearfix+.author {
  margin-top: 15px;
}
.card .author {
  display: inline-block;
}
.card .author .avatar-big.border-gray {
   border: 4px solid #ccc;
 }
.card .author .avatar-big {
  width: 100px;
  height: 100px;
  border-radius: 50%!important;
  position: relative;
  margin-bottom: 15px;
}
.badge-warning {
  background-color: #fbc658;
}
.badge {
  padding: .4em .9em;
  color: #fff;
  font-weight: 500;
  font-size: .75em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 3px;
  padding-top: 5px;
}
.badge-warning {
  color: #212529;
  background-color: #ffc107;
}
.badge-pill {
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10rem;
}
.card[data-background=image] {
  background-position: 50%;
  background-size: cover;
  text-align: center;
}
.card[data-background=image] .card-body {
  position: relative;
  z-index: 2;
  min-height: 280px;
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 440px;
  margin: 0 auto;
  text-align: center;
}
.card[data-background=color] .card-body, .card[data-background=color] .card-category, .card[data-background=color] .card-footer, .card[data-background=color] .card-text, .card[data-background=color] .card-title, .card[data-background=color] .stats, .card[data-background=color] [class*=text-], .card[data-background=color] a:not(.btn), .card[data-background=color] small, .card[data-background=color] ul li b, .card[data-background=image] .card-body, .card[data-background=image] .card-category, .card[data-background=image] .card-footer, .card[data-background=image] .card-text, .card[data-background=image] .card-title, .card[data-background=image] .stats, .card[data-background=image] [class*=text-], .card[data-background=image] a:not(.btn), .card[data-background=image] small, .card[data-background=image] ul li b, .card[data-color] .card-body, .card[data-color] .card-category, .card[data-color] .card-footer, .card[data-color] .card-text, .card[data-color] .card-title, .card[data-color] .stats, .card[data-color] [class*=text-], .card[data-color] a:not(.btn), .card[data-color] small, .card[data-color] ul li b {
  color: #fff!important;
}
.card .card-body {
  padding: 20px;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
.title {
  margin-top: 30px;
  margin-bottom: 25px;
  min-height: 32px;
}

.dark{
  background-color: black;
  opacity:0.6;
}
