<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('./assets/img/login-image.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title">{{messageServer}}</h1>
                </div>
                <h2 class="presentation-subtitle text-center">{{message}}</h2>
            </div>
        </div>
        <h6 class=" category-absolute ml-auto mr-auto">Designed and coded by
            <a href="https://www.creative-tim.com" target="_blank">
                <img src="assets/img/examples/var1.png" class="creative-tim-logo">
            </a>
        </h6>
    </div>
    <div class="main">
    </div>
</div>
