<div class="wrapper">
    <div class="section-shaped my-0 skew-separator skew-mini">
        <div class="page-header page-header-xs header-filter">
            <div class="page-header section-dark"
                 style="background-image: url('../assets/img/examples/karta_bloknot_puteshestvie_125500_1920x1080.jpg');"></div>
            <div class="filter"></div>
            <div class="container">
                <div class="header-body text-center mb-7">
                    <div class="row justify-content-center">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="container-new pt-5 mb-5 upper">
            <div class="row flex-row chat">
                <div class="col-lg-4">
                    <div class="card card-bg">

                        <div class="list-group list-group-chat list-group-flush" *ngFor="let diag of dialogs">
                            <div class="list-group-item active card-bg" [id]="dialogs.indexOf(diag)" (click)="changeDiag(dialogs.indexOf(diag))">
                                <div class="media">
                                    <img alt="Image" src="../assets/img/placeholder.jpg" class="avatar shadow">
                                    <div class="media-body ml-2">
                                        <div class="justify-content-between align-items-center">
                                            <h6 class="mb-0 text-color ">{{diag.recevierName}}
                                                <span class="badge badge-success"></span>
                                                <br>
                                                <small>{{diag.lastmsg}}</small>
                                            </h6>
                                            <div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card size-card">
                        <div class="card-header d-inline-block">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="media-left align-items-center">
                                        <img alt="Image" src="../assets/img/placeholder.jpg" class="avatar shadow">
                                        <div class="media-body">
                                            <h6 class="mb-0 d-block"></h6>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="overflow size-card">
                            <div class="card-body" *ngFor="let messag of messages">
                                <div *ngIf="(messag.sender==dialogs[currentDiag].recevierId)">
                                    <div class="row justify-content-start">
                                        <div class="col-auto">
                                            <div class="card">
                                                <div class="card-body p-2">
                                                    <p class="mb-1">
                                                        {{this.messag.content}}
                                                    </p>
                                                    <div>
                                                        <small class="opacity-60"><i class="far fa-clock"></i> </small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="(messag.sender==dialogs[currentDiag].senderId)">
                                    <div class="row justify-content-end text-right">
                                        <div class="col-auto">
                                            <div class="card bg-gradient-primary text-white">
                                                <div class="card-body p-2">
                                                    <p class="mb-0">
                                                        {{messag.content}}
                                                    </p>
                                                    <div>
                                                        <small class="opacity-60"></small>
                                                        <i class="ni ni-check-bold"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="card-footer d-block">
                            <div class="form-group">
                                <div class="input-group">
                                    <input (keyup.enter)="sendMessage()" id="content" name="mess"
                                           class="form-control border-input" type="text"
                                           required="required">

                                    <span>
                                            <button type="submit" class="btn btn-danger btn-block size-send-button"
                                                    (click)="sendMessage()">Send</button>
                                        </span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>
</div>
