.titleWhite{
  color: white;
}

.card-header{
  background-color: white;
}
.descriptionWhite{
  color: white;
}
.section {
  position: relative;
  background-color: rgb(255, 255, 255);
  padding: 70px 0px;
}
.filter i {
  transition: all 0.15s linear 0s;
}
.card.card-blog .card-image .img, .card.card-testimonial .card-description+.card-title .card-image .img {
  border-radius: 12px;
  border-color: black;
}
.card-image .img-raised {
  margin-top: -20px;
}
img {
  vertical-align: middle;
  width: 70%;
  height: 70%;
  border-color: black;
}
.nav-item-in-route li{
  display: inline;
}
.nav-map{
  position: relative;
  margin: 30px;
  z-index: 1;
}

.text-filter{
  font-size: 1em;
}
div .cont{
  display: inline-block;
  vertical-align:top;
}
.cities-in-line{
  display: inline-block;
}
.color-text{
  color: #000000;
}
.card-up{
  background-color: #ffffff;
  border-radius: 8px;
  color: #fff;
  width: 100%;
  height: 50px;
  max-height: 1000px;
  padding: 10px;
  z-index: 1;
}
.up ul{
  text-align: center;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.butset{
  width: 100%;
}
.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #ffffff;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  outline: none;
}
.block-info {
  display: block;
  width: 100%;
  border: none;
  background-color: #ffffff;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  outline: none;
  text-transform: lowercase;
}
.block-new {
  display: block;
  width: 100%;
  border: none;
  background-color: #ffffff;
  padding: 0px 5px;
  font-size: 12px;
  cursor: pointer;
  text-align: left;
}
.selectclass select{
  width: 100%;
  height: 30px;
}
.selectclass{
  padding: 10px 0px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
body {
  color: #66615b;
  font-size: 14px;
  font-weight: 300;
  font-family: Montserrat,Helvetica,Arial,sans-serif;
}
.col-sm-6{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.card[data-color=yellow] {
  background: #ffffff;
}

.card[data-radius=none] {
  border-radius: 0;
}

.card[data-background=color] .card-body .card[data-background=color] .card-body{
  color: #fff!important;
}
.card.card-just-text .card-body {
  padding: 50px 25px;
  text-align: left;
  overflow: auto;
}
.card-body-new {
  padding: 10px 0px;
  text-align: left;
  overflow: auto;
  max-height: 400px;
}
.img-container {
  border-radius: 6px;
  display: inline-block;
  height: 50px;
  overflow: hidden;
  width: 50px;
  vertical-align: top;
}
.img-container-new {
  border-radius: 6px;
  display: inline-block;
  height: 50px;
  padding: 0px 5px 0px 5px;
  overflow: hidden;
  width: 50px;
  vertical-align: top;
  float: left;
}
.img-container-big {
  display: inline-block;
  height: 70%;
  padding: 0px 5px 0px 5px;
  overflow: hidden;
  width: 100%;
  vertical-align: top;
  float: left;
}
.img-container img {
  width: 100%;
}
.img-container-new img {
  width: 100%;
}
img {
  vertical-align: middle;
  border-style: none;
}
.chat[_ngcontent-c3] .card[_ngcontent-c3] {
  max-height: 70vh;
  overflow: auto;
  margin-top: 30px;
  overflow-x: hidden;
}
.card-blog.card-plain .card-body {
  padding: 15px 0;
}
.blogs-3 .card.card-blog .card-title {
  margin-bottom: .5rem;
}
.lead, p {
  font-weight: 300;
  line-height: 1.7;
}
p {
  font-size: 1rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.button-select{
  width: 100%;
  height: 100%;
  text-align: left;
  background-color: white;
  text-transform: uppercase;
  line-height: 1.75;
}
.blogs-3 .card.card-blog .author {
  position: relative;
  display: inline-block;
  text-align: left;
  margin: 20px auto 0;
}
.blogs-3 .card.card-blog .author .avatar {
  width: 40px;
  height: 40px;
  position: absolute;
}
.avatar {
  color: #fff;
  background-color: #adb5bd;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border-radius: 50%;
  height: 48px;
  width: 48px;
}
img, svg {
  vertical-align: middle;
}

.blogs-3 .card.card-blog .author .text {
  position: relative;
  left: 55px;
  top: 1px;
}
.blogs-3 .card.card-blog .author .avatar {
  width: 40px;
  height: 40px;
  position: absolute;
}
.author .avatar {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 5px;
}
.avatar {
  color: #fff;
  background-color: #adb5bd;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border-radius: 50%;
  height: 48px;
  width: 48px;
}
img, svg {
  vertical-align: middle;
}
img {
  border-style: none;
}


.example-list {
  width: 500px;
  max-width: 100%;
  border: solid 1px #ffffff;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 0px;
  overflow: hidden;
}


.example-box {
  padding: 10px 10px;
  border-bottom: solid 1px #ffffff;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}


.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.workTime{
  color: #000000;
  font-size: 14px;
  text-align: center;
  text-transform: lowercase;
}
.priority{
  text-align: center;
}
.padding {
  padding-left: 15px;
  display: none;
}

.padding1 {
  padding-left: 15px;
}
.options{
  font-size: 15px;
  text-align: center;
}

