.nav-item-in-route li{
  display: inline;
}
.nav-map{
  position: center;
  margin: 2vw 2vw 0vw 2vw;
  z-index: 1;
}
hr.new1 {
  border: 1px solid dimgrey;
  width: 12vw;
}
.div-for-city {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 7px;
  margin-bottom: -20px;
}
.test-r {
  margin: 0px 10px 0px 10px;
}
.button-without-back {
  outline: none; /* Для синий ободки */
  border: 0;
  background: transparent;
}
.text-filter{
  font-size: 1em;
}
div .cont{
  display: inline-block;
  vertical-align:top;
}
.cities-in-line{
  display: inline-block;
}
.color-text{
  color: #000000;
}
.card-up{
  background-color: #ffffff;
  border-radius: 8px;
  color: #fff;
  width: 100%;
  height: 50px;
  max-height: 1000px;
  padding: 10px;
  z-index: 1;
}
.up ul{
  text-align: center;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.butset{
  width: 100%;
}
.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #ffffff;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  outline: none;
}
.block-info {
  display: block;
  width: 100%;
  border: none;
  background-color: #ffffff;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  outline: none;
  text-transform: lowercase;
}
.block-new {
  display: block;
  width: 100%;
  border: none;
  background-color: #ffffff;
  padding: 0px 5px;
  font-size: 12px;
  cursor: pointer;
  text-align: left;
}
.selectclass select{
  width: 100%;
  height: 30px;
}
.selectclass{
  padding: 10px 0px;
}
agm-map {
  position: center;
  width: 95.3vw;
  height: 80vh;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
body {
  color: #66615b;
  font-size: 14px;
  font-weight: 300;
  font-family: Montserrat,Helvetica,Arial,sans-serif;
}
.col-sm-6{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.card-big-shadow {
  max-width: 320px;
  position: relative;
}
.card-big-shadow:before {
  background-image: url(http://static.tumblr.com/i21wc39/coTmrkw40/shadow.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  bottom: -12%;
  content: "";
  display: block;
  left: -12%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
.card[data-color=yellow] {
  background: #ffffff;
}

.card[data-radius=none] {
  border-radius: 0;
}
.card {
  box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
  color: #333;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  border: 0 none;
  transition: transform .3s cubic-bezier(.34,2,.6,1),box-shadow .2s ease;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}
.card[data-background=color] .card-body .card[data-background=color] .card-body{
  color: #fff!important;
}
.card.card-just-text .card-body {
  padding: 50px 25px;
  text-align: left;
  overflow: auto;
}
.card-body-new {
  padding: 10px 0px;
  text-align: left;
  overflow: auto;
  max-height: 300px;
}
.img-container {
  border-radius: 6px;
  display: inline-block;
  height: 50px;
  overflow: hidden;
  width: 50px;
  vertical-align: top;
}
.img-container-new {
  border-radius: 6px;
  display: inline-block;
  height: 50px;
  padding: 0px 5px 0px 5px;
  overflow: hidden;
  width: 50px;
  vertical-align: top;
  float: left;
}
.img-container-big {
  display: inline-block;
  height: 70%;
  padding: 0px 5px 0px 5px;
  overflow: hidden;
  width: 100%;
  vertical-align: top;
  float: left;
}
.img-container img {
  width: 100%;
}
.img-container-new img {
  width: 100%;
}
img {
  vertical-align: middle;
  border-style: none;
}
.chat[_ngcontent-c3] .card[_ngcontent-c3] {
  max-height: 70vh;
  overflow: auto;
  margin-top: 30px;
  overflow-x: hidden;
}
.card-blog.card-plain .card-body {
  padding: 15px 0;
}
.blogs-3 .card.card-blog .card-title {
  margin-bottom: .5rem;
}
.lead, p {
  font-weight: 300;
  line-height: 1.7;
}
p {
  font-size: 1rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.button-select{
  width: 100%;
  height: 100%;
  text-align: left;
  background-color: white;
  text-transform: uppercase;
  line-height: 1.75;
}
.blogs-3 .card.card-blog .author {
  position: relative;
  display: inline-block;
  text-align: left;
  margin: 20px auto 0;
}
.blogs-3 .card.card-blog .author .avatar {
  width: 40px;
  height: 40px;
  position: absolute;
}
.avatar {
  color: #fff;
  background-color: #adb5bd;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border-radius: 50%;
  height: 48px;
  width: 48px;
}
img, svg {
  vertical-align: middle;
}
img {
  border-style: none;
}
.blogs-3 .card.card-blog .author .text {
  position: relative;
  left: 55px;
  top: 1px;
}
.blogs-3 .card.card-blog .author .avatar {
  width: 40px;
  height: 40px;
  position: absolute;
}
.author .avatar {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 5px;
}
.avatar {
  color: #fff;
  background-color: #adb5bd;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border-radius: 50%;
  height: 48px;
  width: 48px;
}
img, svg {
  vertical-align: middle;
}
img {
  border-style: none;
}


.example-list {
  width: 500px;
  max-width: 100%;
  border: solid 1px #ffffff;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 0px;
  overflow: hidden;
}


.example-box {
  padding: 10px 10px;
  border-bottom: solid 1px #ffffff;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}
.button-CRUD{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.button-show{
  width: 20vw;
  margin: 0vw -5vw 0px 10vw;
}
.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.workTime{
  color: #000000;
  font-size: 14px;
  text-align: center;
  text-transform: lowercase;
}
.priority{
  text-align: center;
}
.show_filter_hotel {
  overflow: auto; /* Добавляем полосы прокрутки */
  height: 330px; /* Высота блока */
}
