<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true"
         style="background-image: url('./assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>

    <!--deleteCity-->
    <ng-template #delCity let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="del-city">Аre you sure you want to remove the city from travel?</h4>
        </div>
        <div class="modal-body">
            <form>
                <table border="0" width="400" align="center">
                    <tr>
                        <td>
                            <button type="button" class="btn btn-danger btn-block" (click)="onDelete(modal)">Yes
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger btn-block"
                                    (click)="modal.dismiss('Cross click')">No</button>
                        </td>
                    <tr>
                </table>
            </form>
        </div>
    </ng-template>

    <div *ngIf="routes.checkPoinResponses?.length > 0">
        <div class="div-for-city">
            <hr class="new1">
            <div *ngFor="let movie of routes.checkPoinResponses">
                <div class="test-r">
                    <button type="button" class="btn btn-outline-default btn-round" name="nButs"
                            (click)="onTempTripCity(returnIterCity(movie.nameCity.nameCity))">
                        {{movie.nameCity.nameCity}}({{movie.listMonumentEntities.length}})
                    </button>

                </div>
            </div>
            <hr class="new1">
        </div>
    </div>

    <div class="section profile-content">
        <!-- Работа с картой -->
        <div class="nav-map">
            <form>
                <p>
                    <agm-map #gm [latitude]="latitude" [longitude]="longitude" [zoom]="13"
                             (mapClick)="onChoseLocation($event)">
                        <agm-marker-cluster [styles]="cluster_styles">
                            <agm-marker
                                    *ngFor="let item of monument" [latitude]="item.latitude"
                                    [longitude]="item.longitude"
                                    [iconUrl]="{url: item.link, scaledSize: {width: 40, height: 50}}" [visible]="show"
                                    (mouseOver)="onMouseOver(infoWindow,gm)">
                                <agm-info-window [disableAutoPan]="false" #infoWindow>
                                    {{item.nameMonument.substr(1, item.nameMonument.length - 2)}}
                                </agm-info-window>
                            </agm-marker>
                        </agm-marker-cluster>
                        <agm-marker-cluster [styles]="cluster_styles_hotel">
                            <agm-marker
                                    *ngFor="let item of tempTripCity.hotel" [latitude]="item.latitude"
                                    [longitude]="item.longitude" [iconUrl]="iconUrl1"
                                    (mouseOver)="onMouseOver(infoWindow,gm)">
                                <agm-info-window [disableAutoPan]="false" #infoWindow>
                                    {{tempTripCity.hotel.nameHotel}}
                                </agm-info-window>
                            </agm-marker>
                        </agm-marker-cluster>
                        <agm-direction *ngIf="dir" [origin]="dir.origin" [destination]="dir.destination"
                                       [waypoints]="dir.points" [renderOptions]="dir.options"
                                       [optimizeWaypoints]="optimizeWayPoints"
                                       [travelMode]="travelMode" [visible]="showAgm"
                                       (onResponse)="onResponse($event)"></agm-direction>
                    </agm-map>
                </p>
            </form>
        </div>
        <!-- Форма вывода информации об отелях -->
        <ng-template #contextForHotel let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title5">{{enterHotel.nameHotel}}</h4>
                <button type="button" class="close" aria-label="Close"
                        (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="img-container-big">
                            <img [src]="enterHotel.photo">
                        </div>
                        <br>
                        <br>
                        <br>
                        <div>
                            <br> Average price: {{enterHotel.avgPrice}}
                            <br> Rating: {{enterHotel.rating}}
                            <br> Stars: {{enterHotel.stars}}
                        </div>
                        <p align="center">
                            <button #rout class="btn btn-danger btn-round btn-sm nav-link"
                                    [value]="enterHotel.placeId" [routerLink]="['/hotel-information', enterHotel.placeId]"
                                    (click)="routing(rout.value)" width="400">Read more
                            </button></p>
                    </div>
                </form>
            </div>
        </ng-template>
        <!-- Форма вывода информации -->
        <ng-template #content let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Monument
                    information</h4>
                <button type="button" class="close" aria-label="Close"
                        (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="img-container-big">
                            <img [src]="enterMonument.photo">
                        </div>
                        <br>
                        <div>
                            {{enterMonument.monumentInfo}}
                        </div>
                        <div class="card-filter3">
                            <div class="filter-menu">
                                <div class="card-without-up card-refine">
                                    <div class="panel-group" id="accordion2" aria-multiselectable="true"
                                         aria-expanded="true">
                                        <div class="card-header card-collapse" role="tab" id="designer4">
                                            <p>
                                                <button type="button" class="block"
                                                        (click)="isCollapsed6 = !isCollapsed6"
                                                        [attr.aria-expanded]="!isCollapsed6"
                                                        aria-controls="collapseExample1">
                                                    Work time information
                                                </button>
                                            </p>
                                        </div>
                                        <div id="refineDesigner3" class="collapse" role="tabpanel"
                                             aria-labelledby="headingOne"
                                             [ngbCollapse]="isCollapsed6">
                                            <div class="card-body">
                                                <div class="workTime"
                                                     *ngFor="let work of enterMonument.workTimeMonument">
                                                    {{work.day}}: {{work.timeOpen}} - {{work.timeClose}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </ng-template>
        <!-- Правая менюшка -->
        <div class="card-filter-for-box">
            <div class="filter-menu">
                <div class="card card-refine">
                    <div class="panel-group" id="accordion1" aria-multiselectable="true" aria-expanded="true">

                        <div class="card-header card-collapse" role="tab" id="designer1">
                            <p>
                                <button type="button" class="block" (click)="isCollapsed5 = !isCollapsed5"
                                        [attr.aria-expanded]="!isCollapsed5" aria-controls="collapseExample1">
                                    Sights
                                </button>
                            </p>
                        </div>
                        <div id="refineDesigner1" class="collapse" role="tabpanel" aria-labelledby="headingOne"
                             [ngbCollapse]="isCollapsed5">
                            <div class="card-body">
                                <p class="priority">-Change priority-</p>
                                <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                                    <div class="example-box" *ngFor="let movie of tempTripCity.listMonumentEntities" cdkDrag>
                                        <form>
                                            <button type="button" class="block-new" name="nBut"
                                                    (click)="open(content, movie.monument)">
                                                <div class="img-container-new">
                                                    <img [src]="movie.monument.photo">
                                                </div>
                                                {{movie.monument.nameMonument.substr(1, movie.monument.nameMonument.length - 2)}}
                                                <font color="F5593D">({{symbols[tempTripCity.listMonumentEntities.indexOf(movie)]}})</font>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <hr/>
                                <div>
                                    <p class="priority">-Travel mode-</p>
                                    тут надо сделать тревол мод
                                </div>
                                <hr/>
                                <div class="box"></div>
                            </div>
                        </div>
                        <div *ngIf="checkHotel()">
                            <div class="card-header card-collapse" role="tab" id="designer10">
                                <p>
                                    <button type="button" class="block" (click)="isCollapsed20 = !isCollapsed20"
                                            [attr.aria-expanded]="!isCollapsed4" aria-controls="collapseExample1">
                                        Hotel
                                    </button>
                                </p>
                            </div>
                            <div id="refineDesigner10" class="collapse" role="tabpanel" aria-labelledby="headingOne"
                             [ngbCollapse]="isCollapsed20">
                            <div class="card-body">
                                <div class="card-body-new">
                                    <div class="form-check-radio" *ngIf="tempTripCity.hotel">
                                        <label class="form-check-label">
                                            <button type="button" class="block-new" name="nBut"
                                                    (click)="openHotel(contextForHotel, tempTripCity.hotel)">
                                                <div class="img-container-new">
                                                    <img [src]="tempTripCity.hotel.photo">
                                                </div>
                                                {{tempTripCity.hotel.nameHotel}}
                                            </button>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div *ngIf="checkURL()">
                            <div class="card-header card-collapse" role="tab" id="designer2">
                                <p>
                                    <button type="button" class="block" (click)="isCollapsed4 = !isCollapsed4"
                                            [attr.aria-expanded]="!isCollapsed4" aria-controls="collapseExample1">
                                        Ticket
                                    </button>
                                </p>
                            </div>
                            <div id="refineDesigner2" class="collapse" role="tabpanel" aria-labelledby="headingOne"
                                 [ngbCollapse]="isCollapsed4">
                                <div class="card-body">
                                    <div class="card-body-new">
                                        <a href="{{tempTripCity.url}}"> <button type="button" class="btn btn-danger btn-block">Url
                                        </button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
