<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="credits center">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Best_Team
                </span>
            </div>
        </div>
    </div>
</footer>
